%h1 League of Legends Tournaments
%p En esta pagina puedes encontrar toda la información que necesitas acerca de los torneos de League of Legends. Haga clic en una de las pestañas para desplegar torneos en función de su tipo y tamaño. Ademas si tienes ganas de crear torneos para jugar con todos tus aleros  Loleros  ¡No pierdas Tiempo !!  todo esta al alcance de un click!!
