%h1 Listing players
%br
.table
  %table{border: "1"}
    %tr
      %th Nombre
      %th Email
      %th Nickname
      %th Puntos
    = render @players
    
%br

= link_to 'New Player', new_player_path
