body { margin:114px 0 0 0; line-height:16px; font-family: Tahoma, Arial; background: url(/assets/body_top_bckg1.jpg) no-repeat center top #171c20; color:#bed7e6; font-size:15px;}
a { color:#018BC1;}
a:hover { text-decoration:none;}
#header {}
#logo { padding:30px 0 120px 0;color:#fff; text-align:center;}
#logo a{ color:#fff; text-decoration:none; font-weight:bold; font-size:24px; text-transform:uppercase; }
#menu {color:#fff; text-align:center; margin-bottom:62px;}
#menu ul {text-align:center;list-style:none; padding:0;}
#menu ul li {display:inline}
#menu ul a { font-weight:bold; font-size:14px; text-decoration:none; color:#fff; background-color:#445d6c; padding:0 10px 2px 10px;}
#menu ul a:hover { background-color:#f26513;}
#main {background: url(/assets/body_all_bckg.jpg) repeat-y top center;}
#content {width:780px; margin:0 auto;}
#text { width:520px;}
#text p { margin:7px 0 7px 0;}
#text li {background:url(/assets/li.gif) no-repeat 0px 7px;}
#sidebar {float:right; width:227px; background-color:#0b0e10; margin:10px 10px 0 0; }
#sidebar_top { width:227px; height:40px; background:url(/assets/sidebar_top.jpg) no-repeat;}
#sidebar_text { padding: 0 30px;}
#sidebar_text p { margin:5px 0 5px 0;}
#sidebar_bottom { width:227px; height:57px; background:url(/assets/sidebar_bottom.jpg) no-repeat;}
#sidebar h2 { font-size:13px; text-transform:uppercase; color:#fff; margin:20px 0 0 0; padding:0; background:none;}
h1 {margin:30px 0 0 0; padding:5px 0 7px 45px; text-transform:uppercase; font-size:24px; color:#fff; background:url(/assets/h1_bckg.jpg) no-repeat;}

#footer {background:url(/assets/footer_bckg.jpg) no-repeat top center; height:102px; clear:both; width:780px; margin:0 auto; }
#left_footer { float:left; padding:60px 0 0 30px; color:#fff; font-size:12px;}
#left_footer a { color:#fff;}
#left_footer a:hover { text-decoration:none;}
#right_footer { float:right;  padding:60px 30px 0 0; color:#fff;  font-size:12px; text-align:right;}
#right_footer a { color:#fff;}
#right_footer a:hover { text-decoration:none;}
.form{padding:20px;}
.tabcontent{ padding:10px; clear:both; border:1px #ddd solid; margin:0 0 15px 0;}
.form_row{width:610px;float:left;clear:both;margin:0 0 10px 0;}
select.text_field{width:506px;height:37px;float:left;padding:8px 5px 8px 4px; background-color:#F4F6F7; border:1px #90A9B7 solid; color:#000;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
input.label{width:100px;float:left;padding:10px 0 0px 0;font-size:20px; color:#535E66; font-weight:bold; text-shadow:1px 1px #fff; text-align:left;}
input.text_field{width:500px;height:34px;float:left;padding:0px 0px 0 4px; background-color:#F4F6F7; border:1px #90A9B7 solid; color:#000;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
input.form_submit{ float:left; clear:both; margin:0px 5px 0 0px;color:#fff;background: #7dc44e;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;font-family:arial;font-size:15px;font-weight: bold;padding:8px 15px;text-align: center;cursor:pointer; border:none;text-shadow:1px 1px #4c9021;margin-left: 440px;}

.table {
  margin:0px;padding:0px;
  width:100%;
  border:1px solid #007fff;
  
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
  
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
  
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
  
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}.table table{
    border-collapse: collapse;
        border-spacing: 0;
  width:100%;
  height:100%;
  margin:0px;padding:0px;
}.table tr:last-child td:last-child {
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
}
.table table tr:first-child td:first-child {
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}
.table table tr:first-child td:last-child {
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
}.table tr:last-child td:first-child{
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
}.table tr:hover td{
  background-color:#ffffff;
    

}
.table td{
  vertical-align:middle;
  
  background-color:#ffffff;

  border:1px solid #007fff;
  border-width:0px 1px 1px 0px;
  text-align:center;
  padding:7px;
  font-size:14px;
  font-family:Arial;
  font-weight:normal;
  color:#000000;
}.table tr:last-child td{
  border-width:0px 1px 0px 0px;
}.table tr td:last-child{
  border-width:0px 0px 1px 0px;
}.table tr:last-child td:last-child{
  border-width:0px 0px 0px 0px;
}
.table tr:first-child td{
    background:-o-linear-gradient(bottom, #007fff 5%, #000000 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #007fff), color-stop(1, #000000) );
  background:-moz-linear-gradient( center top, #007fff 5%, #000000 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#007fff", endColorstr="#000000");  background: -o-linear-gradient(top,#007fff,000000);

  background-color:#007fff;
  border:0px solid #007fff;
  text-align:center;
  border-width:0px 0px 1px 1px;
  font-size:20px;
  font-family:Arial;
  font-weight:bold;
  color:#ffffff;
}
.table tr:first-child:hover td{
  background:-o-linear-gradient(bottom, #007fff 5%, #000000 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #007fff), color-stop(1, #000000) );
  background:-moz-linear-gradient( center top, #007fff 5%, #000000 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#007fff", endColorstr="#000000");  background: -o-linear-gradient(top,#007fff,000000);

  background-color:#007fff;
}
.table tr:first-child td:first-child{
  border-width:0px 0px 1px 0px;
}
.table tr:first-child td:last-child{
  border-width:0px 0px 1px 1px;
}
}

-moz-border-radius-bottomleft:5px;-webkit-border-bottom-left-radius:5px;-khtml-border-bottom-left-radius:5px;border-bottom-left-radius:5px;
-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px;-khtml-border-bottom-right-radius:5px;border-bottom-right-radius:5px;
}